@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.container-grid{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.menu{
    width: 1350px;
    display: flex;
    justify-content: space-around;
    background-color: #C0C0C0;
}

.menu a{
    width: 100%;
    text-align: center;
    margin: 14px;
    color: #191919;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.logo img{
    width: 180px;
    height: 95px;
    display: flex;
    align-items: center;
}

.busca img{
    width: 350px;
    height: auto;
}

.conta img{
    width: 48px;
    height: auto;
}

.favorito img{
    width: 48px;
    height: auto;
}

.sacola img{
    width: 48px;
    height: auto;
}
.bannerfull{
    height: 500px;
    background-image: url(../Img/Banner\ Rotativo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#carrosel img{
    display: none;
}

.banner-ativo{
    display: flex;
}

.banners-tarja{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #d6d6d6; 
}

.minibanner{
    display: flex;
    justify-content: space-between; 
    width: 100vw; 
    margin-top: 50px;
    margin-bottom: 50px; 
    margin-right: 50px;
    
}

.titulo-destaque{
    width: 1250px;

}

.row-prod {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    margin: 5px;
}

.produto img{
    width: 100px;
}
.produto{
    margin: 20px;
} 
.bloco-produto{
    width: 1200px;
}

.titulo-destaque h1{
    display: flex;
    font-size: 50px;
    text-decoration: none; 
    justify-content: center; 
    margin-top: 5%;      
}

.produto a{
    background-color: #ef7b21;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 4px;      
}

.login-input{
    cursor:pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    margin-bottom: 2%;
    width: 300px;
    text-align: center;  
    border-radius: 4%; 
}
.login-container{
  flex-direction: column;
  display: flex;
  align-items: center;
}

.login-container h2{
    margin-bottom: 3%;
}
.entrar{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100px;
    border-radius: 8%;
}

.rodape {
    display: flex;
    justify-content: space-between;
    padding: 50px;    
    background-color: #C0C0C0;
    
}

.links h2 {
    font-size: 25px;   
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.links-footer {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.newsletter h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.newsletter form{
    display: flex;
    margin-bottom: 8px;
}

.newsletter input[type="email"]{
    height: 37px;
    width: 195px;
}

.newsletter input[type="email"]::placeholder{
    color: #808080;
    font-weight: bold;
}

button {
    width: 156px;
    color: white;
    background-color: #ef7b21;
    border: none;
    font-size: 18px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.redes-sociais img{
    width: 30px;   
}


.hamburguer{
    width: 40px;
    display: none;
}
.posicionamento-header{
    position: relative;
}

@media screen and (max-width: 1200px) {
    .container-grid{
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu a{
        font-size: 16px;
    }      
    
    .logo{
        width: 140px;        
    }
}
    .banners-tarja {
        width: 90%;
    }     

@media screen and (max-width: 760px) {
    .container-grid {
        width: 60%;
    }

    .hamburguer{
        display: inline-block;
    }

    .menu{
        display: none;
        flex-direction: column;
        width: 250px;      
        position: absolute;
    }

    .banners-tarja {
        width: 30%;
        align-items: center;
    }
    .menu a{
        text-align: center;
        padding: 15px;
    }
}

.menu-ativo{
    display: flex;
}


