@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}

.container-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu {
    width: auto;
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: #191919;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

}

.logo img {
    width: 180px;
    height: 95px;
    display: flex;
    align-items: center;
}

.busca img {
    width: 350px;
    height: auto;
}

.conta img {
    width: 48px;
    height: auto;
}

.favorito img {
    width: 48px;
    height: auto;
}

.sacola img {
    width: 48px;
    height: auto;
}

.bannerfull {
    height: 500px;
    background-image: url(../Img/Banner\ Rotativo.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.banners-tarja {
    display: flex;
    justify-content: space-between;
}

.minibanner {
    display: flex;
    justify-content: space-between; 
    width: 100vw;   
}

.secao-destaques {
    padding: 30px;
}

.secao-destaque .container {
    display: flex;
    justify-content: space-between;
}


.produto1 img {
    top: 50px;
    margin: 10%;
} 

.produto2 img {
    top: 50px;
    margin: 10%;
}
.produto3 img {
    top: 50px;
    margin: 10%;
}
.produto4 img {
    top: 50px;
    margin: 10%;
}
.produto5 img {
    top: 50px;
    margin: 10%;
}
.produto6 img {
    top: 50px;
    margin: 10%;
}
.produto7 img {
    top: 50px;
    margin: 10%;
}
.produto8 img {
    top: 50px;
    margin: 10%;
}
.produto9 img {
    top: 50px;
    margin: 10%;
}
.produto10 img {
    top: 50px;
    margin: 10%;
}
.produto11 img {
    top: 50px;
    margin: 10%;
}
.produto12 img {
    top: 50px;
    margin: 10%;
}
.produto13 img {
    top: 50px;
    margin: 10%;
}
.produto14 img {
    top: 50px;
    margin: 10%;
}
.produto15 img {
    top: 50px;
    margin: 10%;
}
.produto16 img {
    top: 50px;
    margin: 10%;
}
.bloco-destaque h2 {
    font-size: 50px;
}



.rodape {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 50px;
    background-color: #C0C0C0;
}

.links h2 {
    font-size: 25px;
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.links-footer {
    display: flex;
    justify-content: space-between;
    width: 40px;
}

.newsletter h2 {
    font-size: 14px;
    margin-bottom: 8px;
}

.newsletter form {
    display: flex;
    margin-bottom: 8px;
}

.newsletter input[type="email"] {
    height: 37px;
    width: 195px;
}

.newsletter input[type="email"]::placeholder {
    color: #808080;
    font-weight: bold;
}

button {
    width: 156px;
    color: white;
    background-color: #ef7b21;
    border: none;
    font-size: 18px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

@media screen and (max-width: 1200px) {
    .container-grid {
        width: 80%;
    }
    .banners-tarja {
        width: 80%;
    }
   
    
}

@media screen and (max-width: 768px) {
    .container-grid {
        width: 60%;
    }
    .banners-tarja {
        width: 60%;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .container-grid {
        width: 50%;
    }
    .banners-tarja {
        width: 50%;
        align-items: center;
    }
}